body{
    background-image: url(img/background.jfif);
    background-repeat: no-repeat ;
    background-size: 100%;
    background-color: #4d29a5;
}
.center-form{
    text-align: center;
    padding: 20px;
}
a:hover{
    opacity: 50%;  
}
.submit-button{
    background-color: #2196F3;
    font-size: 20px;
}
.center-image{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}
footer{
    color: #fff;
    text-align: center;
}
#signup-form{
    border: 5px double #fff;
    width: 22%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
#signup-form h3{
    margin:0px;
    margin-top:10px;
    padding: 0px;
}
#signup-email {
    border: 3px solid #000;
    border-radius: 10px;
    width: 175px;
    height:20px;
}
#signup-password{
    border: 3px solid #000;
    border-radius: 10px;
    width: 175px;
    height:20px;
}
#home-button{
    border: 3px solid #000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;;
    width: 50px;
}
#home-button h6{
    margin:0px;
    padding: 0px;
    font-size: 15px;;
}
footer{
    color: #fff;
    text-align: center;
  }
footer img{
    border:5px solid #000;
    border-radius:10px;
}  
#button1{
    background-color:rgb(5, 108, 204) ;
    font-size: 20px;
    border: 5px solid #000;
    border-radius:20px;
    margin-top:20px;
    padding:5px;
}
#button1:hover{
    background-color: #fff;
    border-color: #2196F3;
}

p{
    border: 5px double #fff;
    border-radius:20px;
    width: 25%;
    padding-bottom:15px; 
    margin: 10px auto 20px auto;
}
#home-button img:hover{
    background-color:rgb(16, 131, 197);
    border-radius: 8px;
}
.submit-button{
    background-color:rgb(5, 108, 204) ;
    font-size: 20px;
    border: 5px solid #000;
    border-radius:20px;
    margin-top:20px;
    padding:5px;
}
.submit-button:hover{
    background-color: #fff;
    border-color: #2196F3;
}
#signup-form input[type=password]:focus{
    outline: none;
    border-bottom: 4px solid #ff0000;
    transition: all ease 0.2s;
    position: relative;
    top:2px;
    left:2px;
  }
  #signup-form input[type=email]:focus{
    outline: none;
    border-bottom: 4px solid #ff0000;
    transition: all ease 0.2s;
    position: relative;
    top:2px;
    left:2px;
  }